@import "./Variables.scss";

.currentWeather-dark {
  min-height: 100vh;
  background: linear-gradient(
      $darkBackgroundMenuGradient 100%,
      $darkBackgroundMenuGradient 100%
    ),
    url("../images/Cloud-background.png");
  background-position: 50% 20%;
  background-repeat: repeat;
  background-size: 150%;
  animation: animate 10s ease infinite 2s both;
}

.currentWeather-light {
  min-height: 100vh;
  background: linear-gradient(
      $lightBackgroundMenuGradient 100%,
      $lightBackgroundMenuGradient 100%
    ),
    url("../images/Cloud-background.png");
  background-position: 50% 20%;
  background-repeat: repeat;
  background-size: 150%;
  animation: animate 10s ease infinite 2s both;
}

@keyframes animate {
  0% {
    background-position: 50% 20%;
  }
  50% {
    background-position: 60% 30%;
  }

  100% {
    background-position: 50% 20%;
  }
}

div.loaderContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div div h2.msgError {
  color: darkred;
  text-align: center;
}
