@import "../styles/Variables.scss";

.DaysWeatherBox {
  div.loaderContainer {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .DaysWeatherBoxDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;

    .sliceBox {
      margin: 0;
      padding: 0;
    }

    @media (min-width: 1280px) {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-evenly;
    }

    h2 {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 5px;
    }
    .ImgClima {
      width: 74px;
      height: 86px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: auto;

      @media (min-width: 1280px) {
        margin-bottom: 0px;
      }

      img {
        height: 100%;
      }
    }
    .TempsDay {
      display: flex;
      justify-content: space-between;
      font-size: 25px;

      @media (min-width: 1280px) {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2rem;
      }

      .MinTemp {
        margin-left: 15px;

        @media (min-width: 1280px) {
          margin-left: 0px;
        }
      }
    }
  }
}
