@import "./variables.scss";

.logoContainerCurrent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  min-height: 300px;

  .imgLogoCurrent {
    width: 40%;
    max-width: 300px;
  }
}
