@import "../styles/Variables.scss";

.navbar {
  padding: 18px;
  font-size: 2rem;
  position: relative;

  .radar {
    position: absolute;
    top: 18px;
    left: 18px;
  }
  .geolocate {
    position: absolute;
    top: 18px;
    right: 60px;
  }
  .colorMode {
    position: absolute;
    top: 18px;
    right: 18px;
  }
  .toggle {
    position: absolute;
    top: 18px;
    right: 50px;
  }
  .rotate {
    transform: rotate(180deg);
  }
}
