@import '../styles/Variables.scss';

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .searchButton{
        border-style: none;
        margin: 18px;
        padding: 10px 18px ;
        background-color: #6E707A;
        color: $primaryTextColor;
        box-shadow: 1px 10px 8px -5px rgba(0,0,0,0.75);
    }
    .iconSection{
        width: 20vw;
        display: flex;
        justify-content: space-between;
        margin: 0 10px 0 0;
        .navbarIcon{
            font-size: 25px;
            color: $secondaryTextColor;
            &:hover {
                color: $primaryTextColor;
            }
        }
    }
}