$backgroundApp: #100e1d;
$backgroundMenu: #1e213a;
$backgroundMenuGradient: #1e213af2; //Estecolorseutilizaenlosfondosdetodaslascardsyenelfondodelsearchmenu$mainTextColor: #e7e7eb; // Este color se utiliza tanto en border-color (hover) como en los main text.
$secondaryTextColor: #9f9eac;
$primaryTextColor: #e7e7eb; // Este color se utiliza en textos secundarios.
