$backgroundApp: #100e1d;
$backgroundMenu: #1e213a;
$backgroundMenuGradient: #1e213af2; //Estecolorseutilizaenlosfondosdetodaslascardsyenelfondodelsearchmenu
$secondaryTextColor: #9f9eac;
$primaryTextColor: #e7e7eb;
$backgroundButton: #6e707a; // Este color se utiliza en fondos de botones.
